<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<!-- 사용자 css -->
<th:block layout:fragment="css">

</th:block>

<!-- 사용자 script -->
<th:block layout:fragment="script">

</th:block>

<div layout:fragment="content">
    <table>
        <tbody>
        <tr th:each="list : ${list}">
            <td th:text="${list.bno}"></td>
            <td th:text="${list.title}"></td>
            <td th:text="${list.content}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>