<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <hr>
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            <a th:href="@{https://github.com/sukhong17}" target="_blank">민석홍</a> /
            <a th:href="@{https://github.com/k1mjiwon}" target="_blank">김지원</a> /
            <a th:href="@{https://github.com/kimsunho940904}" target="_blank">김선호</a> /
            <a th:href="@{https://github.com/pchyeok}" target="_blank">박찬혁</a>
        </div>
    </footer>
</div>
</html>